html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  font-family: ipam;
  font-size: 67.5%;
}

img {
  width: 100%;
}

main {
  width: 900px !important;
}

.header {
  padding: 10px 0;
  font-size: 17px;
  color: #fff;
  text-align: center;
  background: #003c78;
}

.content {
  &Top {
    position: relative;
    height: 400px;
  }
}

.form_reset,
.form_preview,
.form_dl {
  display: inline-block;
  padding: 1em 2em 0.8em;
  font-size: 16px;
  line-height: 1;
  color: #000;
  cursor: pointer;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  transition: 0.3s;

  &:hover {
    background: #eaeaea;
  }
}

.title {
  &Wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 50px 0;
    color: #fff;
  }

  &_sub {
    display: inline-block;
    padding: 8px;
    font-size: 17px;
    background: #003c78;
  }

  &_main {
    padding: 10px;
    font-size: 40px;
    line-height: 1.4;
    text-shadow: 2px 3px 8px rgba(0 0 0 / 80%);
  }

  &_notice {
    display: table-cell;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background: #f00;
    border-radius: 50%;

    &Wrap {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 2;
      display: table;
      width: 150px;
      height: 150px;
    }
  }
}

.detail {
  &Wrap {
    padding: 10px 0;
    background: #fff;
  }

  &Table {
    width: 87%;
    margin: 0 auto;
    font-size: 20px;

    tr {
      padding-bottom: 12px;
    }

    th {
      width: 10%;
      padding-right: 10px;
      font-size: 18px;
      color: #fff;
      text-align: center;

      span {
        display: block;
        background: #003c78;
        border-radius: 30px;
      }
    }

    td {
      display: inline-block;
      font-size: 30px;
      font-weight: bold;
      color: #000;
      vertical-align: middle;
      border: 0;

      &.long {
        width: 95%;
      }
    }
  }

  &Week {
    padding: 2px;
    margin: 0 10px 0 5px;
    font-size: 20px;
    color: #fff;
    background: #000;
  }

  &Time {
    font-size: 25px;
  }

  &Unit {
    margin-left: 5px;
    font-size: 18px;
  }
}

.list {
  &Wrap {
    width: 98%;
    margin: 0 auto;
  }

  &Title {
    padding: 5px 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #003c78;
  }

  &Table {
    width: 100%;
    border: 0;

    div {
      margin-bottom: 10px;
      font-size: 0;
    }

    p {
      box-sizing: border-box;
      display: inline-block;
      width: 49.5%;
      padding: 10px 5px;
      font-size: 15px;
      color: #fff;
      background: #016fb9;
      border: 0;

      &::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: middle;
        content: "";
        background: #000;
      }

      &:first-of-type {
        margin-right: 1%;
      }
    }
  }
}

.message {
  padding-bottom: 5px;
  font-size: 15px;
  resize: none;
}

.application {
  padding: 10px 20px;
  font-size: 0;
  background: #00f;

  &Text {
    font-size: 22px;

    &Wrap {
      display: inline-block;
      width: 90%;
      font-size: 14px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }
  }

  &Url {
    font-size: 20px;
  }

  &Arrow {
    display: inline-block;
    width: 3%;
    height: 20px;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
  }

  &ImgWrap {
    display: inline-block;
    width: 7%;
    vertical-align: middle;
  }
}

.profile {
  &Wrap {
    padding: 10px;
    background: #808080;
  }

  &Img {
    width: 15%;
  }

  &Detail {
    width: 85%;
    padding: 10px;
    vertical-align: top;

    &Head {
      padding-bottom: 5px;
      font-size: 25px;
      line-height: 1;
      color: #003c78;
      border-bottom: 1px solid #003c78;
    }
  }

  &Title {
    display: inline-block;
    vertical-align: middle;
  }

  &Name {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
  }

  &Text {
    padding: 5px 0;
    font-size: 20px;
    text-align: justify;
  }
}

.contact {
  padding: 10px;
  color: #fff;
  background: #000;

  &Wrap {
    width: 100%;
    font-size: 20px;
  }

  &Title {
    width: 10%;
    font-size: 15px;
    vertical-align: middle;
    background: #003c78;
    border-radius: 30px;
  }

  &Company {
    width: 30%;
    padding-left: 10px;
    font-weight: bold;
  }

  &Tel {
    width: 30%;
    font-weight: bold;
  }

  &Email {
    width: 30%;
    font-weight: bold;
  }
}

.opap__wrap {
  max-width: 700px;
  margin: 0 auto;

  p {
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 16px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    // flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f2f4f5;
    border: none;
    border-radius: 3px;
  }

  input[type="number"],
  input[type="date"],
  input[type="time"] {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f2f4f5;
    border: none;
    border-radius: 3px;
  }
}

.title_wrap {
  margin-top: 10px;
}

.bg {
  &_img_wrap {
    position: relative;
    padding: 30px 0 60px;
    overflow: hidden;
  }

  &_preview {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.sub_wrap {
  // margin-top: 30px;
}

.main_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.date_wrap {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 80px 1fr 1fr 10px 1fr 80px 1fr;
  row-gap: 10px;
  column-gap: 3px;
  align-items: center;
  margin-top: 10px;

  p {
    margin-top: 0;
  }
}

input[type="text"].detail_item_place {
  grid-column: 2 / 6;
}

input[type="number"] {
  &.detail_item_capacity,
  &.detail_item_price {
    width: 100%;
  }
}

input[type="text"].title {
  width: 100%;
}

input[type="text"].sub_catch {
  width: 85%;
}

textarea.main_catch {
  width: 45%;
  resize: none;
}

textarea.notice_text {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 20%;
  text-align: center;
  resize: none;
}

.list {
  &_title {
    color: #fff !important;
    text-align: center;
    background-color: #003c78 !important;
    border-radius: 0 !important;

    &::placeholder {
      color: #e1e1e1;
    }
  }

  &_wrap {
    box-sizing: border-box;
    margin-top: 20px;
    border: 4px solid #003c78;

    input[type="text"] {
      margin-bottom: 10px;
    }
  }

  &_text_wrap {
    padding: 10px;
  }
}

.message {
  margin-top: 10px;
}

.seminar {
  &_wrap {
    display: grid;
    grid-template-rows: 45px 45px 1fr;
    grid-template-columns: 80% 20%;
    row-gap: 5px;
    padding: 13px 20px;
    margin: 10px 0;
    background: #00f;

    input[type="text"] {
      text-align: center;
      border-radius: 0;
    }
  }

  &_text {
    margin-top: 10px;
  }

  &_url {
    margin-bottom: 10px;
  }
}

.qr {
  &_wrap {
    box-sizing: border-box;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    padding: 0 5px;

    p {
      margin-top: 0;
    }
  }

  &_title {
    color: #fff;
  }

  &_btn_wrap {
    display: flex;

    button {
      font-size: 11px;
    }
  }
}

.profile {
  &_wrap {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &_image_wrap {
    width: 150px;

    button {
      font-size: 11px;
    }
  }

  &_preview {
    margin-top: 5px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_detail_wrap {
    input[type="text"] {
      width: 45%;
    }
  }

  &_text {
    margin-top: 10px;
    resize: none;
  }
}

.bg_image_delete,
.qr_image_delete,
.profile_image_delete {
  display: none;
  margin-left: 10px;
}

.contact {
  &_wrap {
    display: flex;
    gap: 10px;
  }
}

.opap {
  &_form {
    margin-top: 100px;
  }

  &_button_wrap {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100vw;
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eaeaea;
  }
}

.label_notice {
  display: block;
  font-size: 12px;
  color: #f00;
}
