html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
}

html {
  font-family: ipam;
  font-size: 67.5%;
}

img {
  width: 100%;
}

main {
  width: 900px !important;
}

.header {
  background: #003c78;
  color: #fff;
  font-size: 17px;
  padding: 10px 0;
  text-align: center;
}


.content {
  &Top {
    height: 400px;
    position: relative;
  }
}

.main {
  &Image {
  }
}

.title {
  &Wrap {
    color: #fff;
    left: 0;
    padding: 50px 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &_sub {
    background: #003c78;
    display: inline-block;
    font-size: 17px;
    padding: 8px;
  }

  &_main {
    font-size: 40px;
    line-height: 1.4;
    padding: 10px;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
  }

  &_notice {
    background: #f00;
    border-radius: 50%;
    color: #fff;
    display: table-cell;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;

    &Wrap {
      bottom: 10px;
      display: table;
      height: 150px;
      position: absolute;
      right: 10px;
      width: 150px;
      z-index: 2;
    }
  }
}

.detail {
  &Wrap {
    background: #fff;
    padding: 10px 0;
  }

  &Table {
    font-size: 20px;
    margin: 0 auto;
    width: 87%;

    tr {
      padding-bottom: 12px;
    }

    th {
      color: #fff;
      font-size: 18px;
      padding-right: 10px;
      text-align: center;
      width: 10%;

      span {
        background: #003c78;
        border-radius: 30px;
        display: block;
      }
    }

    td {
      border: 0;
      color: #000;
      display: inline-block;
      font-size: 30px;
      font-weight: bold;
      vertical-align: middle;

      &.long {
        width: 95%;
      }
    }
  }

  &Week {
    background: #000;
    color: #fff;
    font-size: 20px;
    margin: 0 10px 0 5px;
    padding: 2px;
  }

  &Time {
    font-size: 25px;
  }

  &Unit {
    font-size: 18px;
    margin-left: 5px;
  }
}

.list {
  &Wrap {
    margin: 0 auto;
    width: 98%;
  }

  &Title {
    background: #003c78;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 5px 0;
    text-align: center;
  }

  &Table {
    border: 0;
    width: 100%;

    div {
      font-size: 0;
      margin-bottom: 10px;
    }

    p {
      background: #016fb9;
      border: 0;
      box-sizing: border-box;
      // clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px));
      color: #fff;
      display: inline-block;
      font-size: 15px;
      padding: 10px 5px;
      width: 49.5%;

      &::before {
        background: #000;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 5px;
        vertical-align: middle;
        width: 15px;
      }

      &:first-of-type {
        margin-right: 1%;
      }
    }
  }
}

.message {
  font-size: 15px;
  padding-bottom: 5px;
}

.application {
  background: #00f;
  font-size: 0;
  padding: 10px 20px;

  &Text {
    font-size: 22px;

    &Wrap {
      color: #fff;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      width: 90%;
    }
  }

  &Url {
    font-size: 20px;
  }

  &Arrow {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    vertical-align: middle;
    width: 3%;
  }

  &ImgWrap {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
  }
}

.profile {
  &Wrap {
    background: #808080;
    padding: 10px;
  }

  &Img {
    width: 15%;
  }

  &Detail {
    padding: 10px;
    vertical-align: top;
    width: 85%;

    &Head {
      border-bottom: 1px solid #003c78;
      color: #003c78;
      font-size: 25px;
      line-height: 1;
      padding-bottom: 5px;
    }
  }

  &Title {
    display: inline-block;
    vertical-align: middle;
  }

  &Name {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
  }

  &Text {
    font-size: 20px;
    padding: 5px 0;
    text-align: justify;
  }
}

.contact {
  background: #000;
  color: #fff;
  padding: 10px;

  &Wrap {
    font-size: 20px;
    width: 100%;
  }

  &Title {
    background: #003c78;
    border-radius: 30px;
    font-size: 15px;
    vertical-align: middle;
    width: 10%;
  }

  &Company {
    font-weight: bold;
    padding-left: 10px;
    width: 30%;
  }

  &Tel {
    font-weight: bold;
    width: 30%;
  }

  &Email {
    font-weight: bold;
    width: 30%;
  }
}
